#texto-fonte-root{
    font-size:3rem;
}

#texto-paddings-verticais{
    background-color: aqua;
    padding: 2em 0;
}

#altura-porcentagem-comprimento{
    background-color: blueviolet;
    height: 20vw;
}

#comprimento-metade-altura{
    background-color: magenta;
    width: 50vw;
}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}

#fonte-setenta{
    font-size: 0.7rem;
}

#comprimento-pai{
    background-color: crimson;
    width: 10%;
}

#ul-pai {
    border: 1px magenta solid;
    height: 400px;
}

#altura-pai{
    background-color: purple;
    height: 90%;
}